# To install 
#   ansible-playbook -l <hostname> /data/ansible/playbooks/docker/base.yml
#
# See current config with 
#   lazydocker -c
# 
gui:
  # Themes and styling
  theme:
  scrollHeight: 2
  screenMode: fullscreen

customCommands:
  containers:
    - name: "Prune Unused"
      command: "docker system prune -f"
      stream: true
